body{
    background-color: navajowhite;
margin: 100px;
    padding-right: 400px;
    padding-left: 400px;
}
#indexbody{
    background-color: cadetblue;
}
#header, #title, #US, #AI, #AU, #EU, #SA, .reqful{
    text-align: center;
    font-size: 40px;

}
.reqful{
    text-align: center;
}
p{
    font-size: 20px;
}
h1{
    text-align: center;
}

.images{
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}
.images img{
    border: solid coral;
    vertical-align: middle;
}

